* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    all: unset;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #e1e8eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 254px;
    width: 100%;
    background-image: linear-gradient(
            to right,
            rgba(101, 0, 163, 0.9),
            rgba(24, 120, 175, 0.9)
    ),
    url("https://images.unsplash.com/photo-1546453667-8a8d2d07bc20?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=100");
}

.first-heading {
    font-size: 65px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.92);
    margin-top: 75px;
    text-align: center;
}

.first-heading--thin {
    font-weight: 300;
}

.container {
    width: 1050px;
    height: 520px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-top: 55px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.textarea {
    resize: none;
    flex: 2;
    font: inherit;
    padding: 30px 40px;
    font-size: 22px;
}

.textarea::placeholder {
    font-weight: 500;
    color: #959c9f;
}

.textarea > textarea {
    height: 100%;
    width: 100%;
}

.warning {
    position: absolute;
    bottom: 15px;
    left: 35px;
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
}

.stats {
    flex: 1.3;
    background-color: #f1f6f8;
    display: flex;
    flex-wrap: wrap;
}

.stat {
    flex: 1 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat:nth-child(1),
.stat:nth-child(2),
.stat:nth-child(3),
.stat:nth-child(4){
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.stat:nth-child(2),
.stat:nth-child(4),
.stat:nth-child(6){
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.stat__number {
    color: #4d5457;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 10px;
}

.stat__number--limit {
    color: red;
}

.second-heading {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #747a7c;
}

.footer {
    width: 1050px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    opacity: 0.4;
}

@media (max-width: 1150px) {
    .container {
        width: 85vw;
        flex-direction: column;
    }

    .first-heading {
        font-size: 7vw;
    }

    .stat {
        padding: 15px 10px;
    }

    .stat:nth-child(1),
    .stat:nth-child(2),
    .stat:nth-child(4) {
        border: none;
    }

    .stat__number {
        font-size: 20px;
    }

    .footer {
        width: initial;
        flex-direction: column;
        align-items: center;
    }
}
